/*------HISTORY.HTML FROM HERE------*/

.history-title{
    margin-bottom: 50px;
}

.history-page img{
    width: 50%;
    margin-bottom: 50px;
}

.history-page p{
    margin: 0 25px;
    margin-bottom: 50px;
}

/*------SERVICES.HTML FROM HERE------*/

.services-content{
    padding: 0 50px;
}

.services-content h2{
    margin-bottom: 25px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 2px 16px;
  }

/*------PROJECTS.HTML FROM HERE------*/

.gallery{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gallery img{
    display: inline-block;
    width: 70%;
    margin-bottom: 50px;
}

/*------CERTIFICATIONS.HTML FROM HERE------*/

#certifications-page{
    padding: 0 50px;
}

#certifications-page img{
    width: 50vw;
    margin: 5vh 0;
}

#certifications-page h3{
    margin-bottom: 2.5vh;
}

#certifications-page h4{
    margin-bottom: 5vh;
}