@import "variables";
@import "pages-styles";
@import "carousel";
@mixin round-border ($style, $radius){
    border: $style;
    border-radius: $radius;
}

$palette:(
    main-bground: #222222,
    clear-bground: rgba(14, 14, 14, .5),
);

html{
  scroll-behavior: smooth;
}

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fff;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}

body{
    background-color: map-get($palette, main-bground);
    background-image: linear-gradient(0deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent);
    background-size: 25px 25px;
    font-size: 0.75em;
}

button{
    @include round-border(solid 2px, 5px);
    background-color: $button-color;
    color: $button-text;
    padding: 10px 20px;
    margin-top: 25px;

    &:hover{
        background-color: $button-color-alt;
        color: $button-text-alt;
        border: solid 2px #000000;
        font-weight: bold;
    }
}

button:hover .fa-solid{
    color: #000000;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 1.5rem;
}

header, footer{
    background-color: map-get($palette, clear-bground);
}

#history, #services, #projects, #certifications {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    padding: 0 25px;
    height: 90vh;
}

.form-button{
    @extend button;
    background-color: $button-color-alt;
    color: $button-text-alt;
    border: solid 1px #71db77;

    &:hover{
        background-color: $button-color;
        color: $button-text;
        border: solid 2px #000000;
        font-weight: bold;
    }
}

h2{
    padding: 0 1vh;
    margin-bottom: 50px;   
    font-size: 2rem;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.75);
}

h3{
  font-size: 1.75rem;
}

.wrapper{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.content{
    flex-grow: 1;
    justify-items: center;
    align-items: center;
}

img{
    max-width: 100%;
}

.logo{
    width: 150px;
}

a{
    text-decoration: none;
}

.nav-links li{
    margin-top: 1vh;
}

p{
  margin-top: 15px;
}

#services p{
    margin-bottom: 2vh;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    padding: 15px;
}

#history .profile-pic{
    width: 50%;
    border-radius: 45%;
}

#services .fa-solid{
    display: block;
    font-size: 5rem;
}

#projects img{
    width: 75%;
    margin-bottom: 10px;
}

#certifications img{
    width: 75%;
    margin-bottom: 10px;
}

#contact img{
    width: 20%;
    margin: 20px;
}

.contact-form{
    width: 100%;
}

input, textarea{
    display: block;
    margin: 20px auto;
    padding: 5px 10px;
    width: 75%;
}

footer{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    height: 5vh;
    margin-top: 5vh;
}

footer p{
    background: none;
    margin-bottom: 1.5vh;
}

/*---------MEDIA QUERIES---------*/

@media (min-width: 768px){
    
    body{
        font-size: 0.85rem;
    }

    h2{
        font-size: 30px;
    }
    
    header{
        margin-bottom: 0;
    }
    
    header li{
        display: inline-block;
    }

    header ul{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }

    .grid-3-col{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
            "whatsapp contact-form email";
        align-items: center;
        justify-items: center;
    }

    .whatsapp{
      grid-area: whatsapp;
    }

    .contact-form{
      grid-area: contact-form;
    }

    .email{
      grid-area: email;
    }

    #contact img{
        width: 30%;
        margin: 0;
    }
}

@media (min-width: 1024px){

    body{
        font-size: 1rem;
    }

    h2{
        font-size: 40px;
    }
    
    header .container-logo{
        display: flex;
        justify-content: start;
        padding-left: 15px;
    }

    header div{
        display: inline-block;
    }
    
    header li a:hover{
        padding: 10px 20px;
        background-color: rgba(47, 47, 47, 0.75);
        color: #71db77;
        border: solid 1px #71db77;
    }

    a{
        font-size: 15px;
    }
    
    #history .profile-pic{
        width: 50%;
    }

    #history p{
        margin-right: 50px;
    }

    .grid-2-col{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        margin-bottom: 50px;
    }

    #services .grid-3-col{
        width: 95%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-bottom: 50px;
    }

    #services .grid-3-col p{
        padding: 0px 50px 0 50px;
    }

    .projects-gallery{
        display: flex;
        justify-content: space-evenly;
    }

    #projects img{
        width: 40vw;
        padding: 0 25px;
    }

    .certifications-gallery{
        display: flex;
        justify-content: space-evenly;
    }

    #certifications img{
        width: 40vw;
        margin: 0 50px 10px 20px;
    }
}